@media screen and (max-width: 1024px) {
  header h1 {
    margin-top: 4.5rem;
  }
}

@media screen and (max-width: 768px) {
  header h1 {
    font-size: 2.7rem;
  }

  .arrow {
    margin-top: 0;
  }

  .egg div,
  .cup div {
    padding-left: 3rem;
  }

  .egg div h1,
  .cup div h1 {
    font-size: 2rem;
    width: 75%;
  }

  .egg div p,
  .cup div p {
    width: 75%;
  }
}

@media screen and (max-width: 425px) {
  header {
    background-image: url("./images/mobile/image-header.jpg");
    background-size: cover;
    height: 80vh;
  }

  nav {
    padding: 2rem 1.5rem 0 1.2rem;
  }

  .ham {
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;
  }
  .ham * {
    width: 8vw;
    height: 0.19rem;
    background-color: white;
  }

  .links {
    position: absolute;
    display: none;
    z-index: 5;
    top: 7rem;
    right: 0;
    left: 0;
    margin: auto;
    background-color: white;
    flex-direction: column;
    column-gap: 0;
    row-gap: 2rem;
    padding: 2rem 0 2rem 0;
    height: auto;
    width: 80%;
  }

  .links a:nth-of-type(4) {
    background-color: hsl(51, 100%, 49%);
  }

  .links a {
    color: hsl(232, 10%, 55%);
  }

  header h1 {
    margin-top: 6.7rem;
  }

  .arrow {
    margin-top: 3.5rem;
  }

  .egg {
    flex-direction: column-reverse;
  }

  .cup {
    flex-direction: column;
  }

  .egg div,
  .cup div {
    padding-left: 0;
    align-items: center;
  }

  .egg img,
  .cup img {
    width: 100%;
  }

  .egg div,
  .cup div {
    width: 100%;
  }

  .egg div h1,
  .cup div h1 {
    text-align: center;
  }

  .egg div p,
  .cup div p {
    text-align: center;
  }
}

@media screen and (max-width: 375px) {
  header h1 {
    font-size: 2rem;
    letter-spacing: 0.2rem;
  }

  .egg div h1,
  .cup div h1 {
    width: 95%;
  }

  .egg div p,
  .cup div p {
    width: 95%;
  }
}
